.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.movie-card {
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.movie-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.movie-card:hover {
  transform: scale(1.03);
}
